/* =======================================
                  FONT
======================================== */

@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,400,400i,700,700i');

@font-face {
  font-family: 'ITC Mona Lisa Std';
    src: url('../fonts/MonaLisaStd-Solid.woff2') format('woff2'),
        url('../fonts/MonaLisaStd-Solid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* =======================================
                  BODY
======================================== */
body{
  font-family: 'Raleway', serif;
  text-align: justify;
}

h1, h2 {
  font-family: 'ITC Mona Lisa Std', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
  color:#223d80;
}
h2{
  font-size: 1.8rem;
}
h3, h4, h5{
  text-transform: uppercase;
  text-align:center;
  font-weight: lighter;
  color: #000;
}
.bg_blue{
  background: #223d80;
}
.bg_blue h1, .bg_blue h2{
  color: #fcf1df;
}
.bg_blue h1{
  border-top:1px solid;
  border-bottom: 1px solid;
  display: inline-block;
  padding: 6px 0 0 0;
  margin-bottom: 15px;
}
.bg_blue h3, .bg_blue h4, .bg_blue h5, .bg_blue p, .bg_blue label, .bg_blue{
  color: #fff;
}
.bg_beige{
  background: #fcf1df;
}
.bg_beige h1, .bg_beige h2{
  color: #223d80;
}
.bg_beige h1{
  border-top:1px solid;
  border-bottom: 1px solid;
  display: inline-block;
  padding: 6px 0 0 0;
  margin-bottom: 15px;
}

/*NAVBAR STARTS***********************************************************/

.clickNav {
  font-family: 'ITC Mona Lisa Std';
  font-size: 2em;
  position: relative;
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: black;
  visibility: hidden;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: .25s linear;
}
.nav-link:hover:before,
.nav-link:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}



/*NAVBAR ENDS*************************************************************/

/*RESERVATION BOUTTON FIX STARTS******************************************/

.boutResa {
  top: 15px;
  right: 15px;
  left: inherit;
}
.boutResa{
  font-family: 'ITC Mona Lisa Std';
  border-radius: 0;
  font-size: 2em;
}

/*RESERVATION BOUTTON FIX ENDS********************************************/

/*VIDEO STARST************************************************************/

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

video[poster]{
height:100%;
width: 100%;

}

.videoLogo {
  position: absolute;
  top: 37%;
  width: 100%;
  text-align: center;
}

/*VIDEO ENDS**************************************************************/
/*  ========= GENERALS RULES ============ */

/*h1, h2, h3, h4, h5, h6 {
    display: flex;
    justify-content: center;
    margin: 1em;
}*/

/*  ====================================== */
/*  ==============  ICONS  =============== */
/*  ====================================== */

footer .svg-inline--fa {
    font-size: 2em;
    margin: 0 0.2em;

}
.col-xs-12 {
    margin-bottom: 1em;

}

/*  ====================================== */
/*  ==============  GALLERY  =============== */
/*  ====================================== */

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 100%;
  max-width: 480px;
  min-height: 254px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  font-weight: 300;
  color:#fcf1df;
}

.grid figure h2 span {
  font-weight: 600;
  color:#fcf1df;
   text-shadow: 2px 0px 0px black ;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


figure.effect-apollo {
  background: #3498db;
}

figure.effect-apollo img {
  opacity: 0.95;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale3d(1.05,1.05,1);
  transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  content: '';
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 150px;
  border-right: 4px solid #fff;
  text-align: right;
  opacity: 0;
  transition: opacity 0.35s;
}

figure.effect-apollo h2 {
  text-align: left;
}

figure.effect-apollo:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover p {
  opacity: 1;
  transition-delay: 0.1s;
}

/*  Modal  */
.modal-header{
  border-bottom: 0;
  padding: 0;
}
.modal-header .close{
  margin:-0.5rem 0rem -1rem auto;
}
.close{
  font-family: 'Raleway', sans-serif;
  color:#223d80;
  line-height: 0.5;
  font-weight: 200;
  font-size: 3rem;
}
.rotate{
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
}
.rotate:hover{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  transform:rotate(360deg);
}
#image-gallery-caption{
  color:#000;
}
.modal-body{
  position: relative;
}
#show-previous-image, #show-next-image{
  position:absolute;
  top:45%;
  background: transparent;
  padding:0;
  z-index: 100;
  color:#fff;
  font-size: 2.5rem;
}
#show-previous-image:hover, #show-next-image:hover{
  opacity: 0.8;
}
#show-previous-image{
  left:20px;
}
#show-next-image{
  right: 20px;
}

/*  ====================================== */
/*  ============== RESERVATION =========== */
/*  ====================================== */

#reservation {
  /*  display: flex;*/
    text-align: center;
}

#reservation .row {
    margin: auto;
    padding: 2em 0;
    text-align: center;
    justify-content: center;

}
#reservation .row {
    padding: 0;
}

#reservation .svg-inline--fa {
    font-size: 1em;
    margin: 0 0.2em;
}

.form-control {
    background-color:#fcf1df;
   /* border-style: dashed;*/
    border-width: 2px;
   
}

.form-control:focus {
    background-color:#fcf1df
}

input {
    width: 100vh;
}


.tiboImg img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#reservation button {
    justify-content: center;
    margin: 1em;
    background-color: #2db300;
    color: #fcf1df;
}
#reservation button:before{
  content: "";
  background: url('../asset/hand.png') no-repeat top left;
  width: 130px;
  height: 60px;
  display: inline-block;
}
#reservation button:hover {
    justify-content: center;
    margin: 1em;
    background-color: #243c83;
    color:gold;
}
 .guest {
  padding-top: 1em;

 }


/* Shoko */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  /*margin: 1em;*/
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content { /*Nom de l'imput ex: Name, Phone, Mail...*/
  position: relative;
  display: block;
  padding: 0.7em 0;
  width: 100%;
  font-size: 1.2em;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}


.input--shoko {
  overflow: hidden;
  padding-bottom: 2.5em;
  justify-content: center;
}

.input__field--shoko { /* écriture de l'utilisateur*/
  padding: 0;
  margin-top: 1.2em;
  width: 100%;
  background: transparent;
  color:  #243c83;
  font-size: 1.1em; /*Modif perso*/
  top: 0.6em; /*Modif perso*/
}

.input__label--shoko { /* */
  position: absolute;
  top: 2em;
  left: 0;
  display: block;
  width: 100%;
  text-align: right;
  padding: 0em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:  #243c83;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.1s, color 0.3s;
  transition: transform 0.2s 0.1s, color 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.graphic--shoko { /* Bandes supérieures et inférieurs*/
  stroke:  #243c83;
  pointer-events: none;
  stroke-width: 2px;
  top: 1.25em;
  bottom: 0px;
  height: 3.275em;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--shoko:focus + .input__label--shoko,
.input--filled .input__label--shoko {
  color:  #243c83;
  -webkit-transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
  transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
}

.input__field--shoko:focus ~ .graphic--shoko,
.input--filled .graphic--shoko {
  stroke:  #243c83;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

.newBooking {
  border-style: dashed;
  border-radius: 5px;
  border-color: #243c83;
  border-width: 0.2em;
  margin-bottom: 0;
}
.newBooking col-xs-12 {
  border: none;
}

/*  ====================================== */
/*  ==============  FOOTER =============== */
/*  ====================================== */
footer h2{
  margin-top:1em;
}
footer li {
    list-style-type: none;
}
footer p {
    margin-bottom: 0;
}
footer .row {
    margin: auto;
    padding: 2em 0;
    text-align: center;
    justify-content: center;

}
 footer, #reservation p{
    text-align: center;
}

footer a {
    color: #243c83;
    text-decoration: none;
    transition: color 0.4s
}

footer a:hover {
    color: gold;
}
footer ul {
  padding-left: initial;
}

.nav-item {
    font-size: 1.5em;
    font-family: 'ITC Mona Lisa Std';

}
.nav.justify-content-center {
    border-bottom-style: dashed;
    border-top-style: dashed;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 100%;
    margin-top: 1em;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#footer ul{
  padding: 0;
}
.madeBy {
    margin-bottom: 0; 

}

/*  ====================================== */
/*  ======= ANIMATION NAV FOOTER ========= */
/*  ====================================== */

.myAnim a {
    line-height: 2em;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}

.myAnim a {
    position: relative;
    display: inline-block;
    padding: 3px 15px 0;

    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.myAnim a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(34, 61, 128, 0.3);
    color: #2f4351;
    content: attr(data-hover);
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    transform: rotateX(270deg);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
}

.myAnim a:hover,
.myAnim a:focus {
    background: #223d80;
}

.myAnim a:hover::before,
.myAnim a:focus::before {
    -webkit-transform: rotateX(10deg);  
    -moz-transform: rotateX(10deg);
    transform: rotateX(10deg);
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

footer .nav-link:before {
  
}

footer .nav-link:hover:before,
.nav-link:focus:before {

}

/* =======================================
                  AGENDA
======================================== */
figure.effect-julia {
  background: #2f3238;
  position: relative;
  overflow: hidden;
  height: auto;
  cursor: pointer;
}

figure.effect-julia img {
  opacity: 0.8;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-julia figcaption {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  text-align: left;
  padding: 2em;
}

figure.effect-julia p {
  display: inline-block;
  padding: 0.4em 1em;
  margin:0 0 0.4em 0;
  background: rgba(255,255,255,0.9);
  color: #2f3238;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-360px,0,0);
  transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
  transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
  transition-delay: 0.1s;
}

figure.effect-julia:hover img {
  opacity: 0.4;
}

figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-julia:hover p:first-child {
  transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
  transition-delay: 0.05s;
}

#sport h4{
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 400;
}
.thumbnail{
     position: relative;
     height: 320px;
     width: 330px;
     overflow: hidden;
}

.thumbnail img{
    position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  max-width: inherit;
  -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
.bg_green_light{
  background: rgba(54, 164, 32, 0.15);
  color:#36a420;
  border-top: 1px solid;
}
.bg_green_light:last-child{
  border-bottom: 1px solid
}
.bg_blue_light{
  background: rgba(34, 61, 128, 0.15);
  color:#223d80;
  border-top: 1px solid;
}

/* =======================================
             MEDIA QUERIES
======================================== */

@media (max-width: 1199px) {
  .thumbnail{width: 270px; height: 270px;}
}
@media (max-width: 992px){
  .thumbnail{width: 305px; height: 305px;}
}
@media (max-width: 767px) {
  .thumbnail{width: 215px; height: 215px;}
}
@media (max-width: 575px) {
  .thumbnail{width: 100%; height: 500px;}
  .my-effect{width: 100%;}
  .slick-prev{ left: 0; z-index: 10; }
  .slick-next{ right: 0; }
}
@media (max-width: 480px) {
  .thumbnail{ height: 410px; }
}
@media (max-width: 380px) {
  .thumbnail{height: 310px;}
  
}
