/* =======================================
                  FONT
======================================== */

@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,400,400i,700,700i');

@font-face {
	font-family: 'ITC Mona Lisa Std';
    src: url('../fonts/MonaLisaStd-Solid.woff2') format('woff2'),
        url('../fonts/MonaLisaStd-Solid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* =======================================
                  BODY
======================================== */
body{
	font-family: 'Raleway', serif;
	text-align: justify;
}

h1, h2 {
	font-family: 'ITC Mona Lisa Std', sans-serif;
	text-transform: uppercase;
	font-weight: 200;
	text-align: center;
	color:#223d80;
}
h2{
	font-size: 1.8rem;
}
h3, h4, h5{
	text-transform: uppercase;
	text-align:center;
	font-weight: lighter;
	color: #000;
}
.bg_blue{
	background: #223d80;
}
.bg_blue h1, .bg_blue h2{
	color: #fcf1df;
}
.bg_blue h1{
	border-top:1px solid;
	border-bottom: 1px solid;
	display: inline-block;
	padding: 6px 0 0 0;
	margin-bottom: 15px;
}
.bg_blue h3, .bg_blue h4, .bg_blue h5, .bg_blue p{
	color: #fff;
}
.bg_beige{
	background: #fcf1df;
}
.bg_beige h1, .bg_beige h2{
	color: #223d80;
}
.bg_beige h1{
	border-top:1px solid;
	border-bottom: 1px solid;
	display: inline-block;
	padding: 6px 0 0 0;
	margin-bottom: 15px;
}

/* =======================================
                  AGENDA
======================================== */
figure.effect-julia {
	background: #2f3238;
	position: relative;
	overflow: hidden;
	height: auto;
	cursor: pointer;
}

figure.effect-julia img {
	opacity: 0.8;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	text-align: left;
	padding: 2em;
}

figure.effect-julia p {
	display: inline-block;
	padding: 0.4em 1em;
	margin:0 0 0.4em 0;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

#sport h4{
	text-transform: none;
	font-size: 1.2rem;
	font-weight: 400;
}
.thumbnail{
     position: relative;
     height: 320px;
     width: 330px;
     overflow: hidden;
}

.thumbnail img{
    position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	max-width: inherit;
	-webkit-transform: translate(-50%,-50%);
	      transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
.bg_green_light{
	background: rgba(54, 164, 32, 0.15);
	color:#36a420;
	border-top: 1px solid;
}
.bg_green_light:last-child{
	border-bottom: 1px solid
}
.bg_blue_light{
	background: rgba(34, 61, 128, 0.15);
	color:#223d80;
	border-top: 1px solid;
}

